@model User

<h3>User Details (@Model.UserId)</h3>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            Login
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoginName)
        </dd>

        <dt>
            First Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Second Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SecondName)
        </dd>

        <dt>
            Roles
        </dt>

        <dd>
        @foreach (var r in Model.GetRoles())
        {
            <a class="badge" asp-area="" asp-controller="Roles" asp-action="Details" asp-route-id="@r.RoleId">@r.RoleName</a>
        }
        </dd>

        <dt>
            Privileges
        </dt>

        <dd>
        @foreach (var p in Model.GetPrivileges())
        {
            <a class="badge" asp-area="" asp-controller="Privileges" asp-action="Details" asp-route-id="@p.PrivilegeId">@p.PrivilegeName</a>
        }
        </dd>

        <dt>
            Groups
        </dt>

        <dd>
        @foreach (var r in Model.GetGroups())
        {
            <a class="badge" asp-area="" asp-controller="Groups" asp-action="Details" asp-route-id="@r.GroupId">@r.GroupName</a>
        }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>