@model User

<div class="d-flex flex-row align-self justify-content-between">
    <h3>User (@Model.UserId)</h3>
    <div>
        <a class="ml-4 adminka-navigation adminka-navigation-edit" asp-area="" asp-controller="Users" asp-action="Edit" asp-route-id="@Model.UserId">Edit</a>
    </div>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 mb-sm-4">
            Login
        </dt>
        <dd class="col-sm-10 mb-sm-4">
            @Html.DisplayFor(model => model.LoginName)
        </dd>

        <dt class="col-sm-2 mb-sm-4">
            First Name
        </dt>
        <dd class="col-sm-10 mb-sm-4">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt class="col-sm-2 mb-sm-4">
            Second Name
        </dt>
        <dd class="col-sm-10 mb-sm-4">
            @Html.DisplayFor(model => model.SecondName)
        </dd>

        <dt class="col-sm-2 mb-sm-4">
            Roles
        </dt>

        <dd class="col-sm-10 mb-sm-4">
            @foreach (var r in Model.GetRoles())
            {
                <a class="badge" asp-area="" asp-controller="Roles" asp-action="Details" asp-route-id="@r.RoleId">@r.RoleName</a>
            }
        </dd>

        @{var privleges = Model.GetPrivileges();}
        <dt class="col-sm-2 mb-sm-4">
            Privileges Allowed
        </dt>
        <dd class="col-sm-10 mb-sm-4">
            @foreach (var p in privleges)
            {
                if (p.Item2)
                {
                    <a class="badge" asp-area="" asp-controller="Privileges" asp-action="Details" asp-route-id="@p.Item1.PrivilegeId">@p.Item1.PrivilegeName</a>
                }
            }
        </dd>

        <dt class="col-sm-2 mb-sm-4">
            Privileges Denied
        </dt>

        <dd class="col-sm-10 mb-sm-4">
            @foreach (var p in privleges)
            {
                if (!p.Item2)
                {
                    <a class="badge" asp-area="" asp-controller="Privileges" asp-action="Details" asp-route-id="@p.Item1.PrivilegeId">@p.Item1.PrivilegeName</a>
                }
            }
        </dd>

        <dt class="col-sm-2 mb-sm-4">
            Privileges Denied
        </dt>

        <dd class="col-sm-10 mb-sm-4">
            @foreach (var p in Model.GetPrivileges())
            {
                if (!p.Item2)
                {
                    <a class="badge" asp-area="" asp-controller="Privileges" asp-action="Details" asp-route-id="@p.Item1.PrivilegeId">@p.Item1.PrivilegeName</a>
                }
            }
        </dd>

        <dt class="col-sm-2 mb-sm-4">
            Groups
        </dt>

        <dd class="col-sm-10 mb-sm-4">
            @foreach (var r in Model.GetGroups())
            {
                <a class="badge" asp-area="" asp-controller="Groups" asp-action="Details" asp-route-id="@r.GroupId">@r.GroupName</a>
            }
        </dd>
    </dl>
    <div class="d-flex flex-row align-self">
        <a class="adminka-btn adminka-navigation-list" asp-area="" asp-controller="Users" asp-action="Index">Back to List</a>
    </div>
</div>
