@model IEnumerable<User>
@{
    var UserContext = (UserContext)ViewBag.UserContext;
}
<h3>Users</h3>

<table id="adminka-groups-table" class="table table-hover table-bordered mainTable">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondName)
            </th>
            <th>
                Roles
            </th>
            <th>
                Privileges
            </th>
            <th>
                Groups
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="tableActionColumn">
                    <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Details", "Users", new { id = item.UserId })'"><span class="glyphicon glyphicon-list"></span></button>
                    @if (UserContext.HasPrivilege(Privilege.ConfigureSystem))
                    {
                        <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Edit", "Users", new { id = item.UserId })'"><span class="glyphicon glyphicon-edit"></span></button>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoginName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondName)
                </td>
                <td>
                    @{  var roles = item.GetRoles();
                        @foreach (var r in roles)
                        {
                            <div><a class="dashboardcode-adminka-item" href="@Url.Action("Details", "Roles", new { id = r.RoleId })">@r.RoleName</a></div>
                        }
                    }
                </td>
                <td>
                    @{  var privileges = item.GetPrivileges();
                        foreach (var p in privileges)
                        {
                            <div><a class="dashboardcode-adminka-item" href="@Url.Action("Details", "Privileges", new { id = p.PrivilegeId })">@p.PrivilegeName</a></div>
                        }
                     }
                </td>
                <td>
                    @{  var groups = item.GetGroups();
                        foreach (var g in groups)
                        {
                            <div><a class="dashboardcode-adminka-item" href="@Url.Action("Details", "Groups", new { id = g.GroupId })">@g.GroupName</a></div>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>