@model Role

<h3>Role Details (@Model.RoleId)</h3>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

        <dt>
            Privileges
        </dt>

        <dd>
            @{  var privileges = Model.GetPrivileges();
                foreach (var p in privileges)
                {
                    <span class="vse-adminka-item">@Html.ActionLink(p.PrivilegeName, "Details", "Privileges", new { id = p.PrivilegeId }, null)</span>
                }
            }
        </dd>

        <dt>
            Groups
        </dt>

        <dd>
            @{  var groups = Model.GetGroups();
                foreach (var r in groups)
                {
                    <span class="vse-adminka-item">@Html.ActionLink(r.GroupName, "Details", "Groups", new { id = r.GroupId }, null)</span>
                }
            }
        </dd>

        <dt>
            Users
        </dt>

        <dd>
            @{  var users = Model.GetUsers();
                foreach (var u in users)
                {
                    <span class="vse-adminka-item">@Html.ActionLink(u.LoginName, "Details", "Users", new { id = u.UserId }, null)</span>
                }
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
