@model User

<h3>User Details (@Model.UserId)</h3>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoginName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoginName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SecondName)
        </dd>

        <dt>
            Roles
        </dt>

        <dd>
            @{  var roles = Model.GetRoles();
                foreach (var r in roles)
                {
                    <span class="vse-adminka-item">@Html.ActionLink(r.RoleName, "Details", "Roles", new { id = r.RoleId }, null)</span>
                }
            }
        </dd>

        <dt>
            Privileges
        </dt>

        <dd>
            @{  var privileges = Model.GetPrivileges();
                foreach (var p in privileges)
                {
                    <span class="vse-adminka-item">@Html.ActionLink(p.PrivilegeName, "Details", "Privileges", new { id = p.PrivilegeId }, null)</span>
                }
            }
        </dd>

        <dt>
            Groups
        </dt>

        <dd>
            @{  var groups = Model.GetGroups();
                foreach (var r in groups)
                {
                    <span class="vse-adminka-item">@Html.ActionLink(r.GroupName, "Details", "Groups", new { id = r.GroupId }, null)</span>
                }
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
