@model Group

<h3>Delete Group (@Model.GroupId)</h3>

<h4>Are you sure you want to delete this?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupAdName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupAdName)
        </dd>

        <dt>
            Privileges
        </dt>

        <dd>
            @{ var privileges = Model.GetPrivileges();
                foreach (var p in privileges)
                {
                    <span class="dashboardcode-adminka-item">@Html.ActionLink(p.PrivilegeName, "Details", "Privileges", new { id = p.PrivilegeId }, null)</span>
                }
            }
        </dd>

        <dt>
            Roles
        </dt>

        <dd>
            @{ var roles = Model.GetRoles();
                foreach (var r in roles)
                {
                    <span class="dashboardcode-adminka-item">@Html.ActionLink(r.RoleName, "Details", "Roles", new { id = r.RoleId }, null)</span>
                }
            }
        </dd>

        <dt>
            Users
        </dt>

        <dd>
            @{ var users = Model.GetUsers();
                foreach (var u in users)
                {
                    <span class="dashboardcode-adminka-item">@Html.ActionLink(u.LoginName, "Details", "Users", new { id = u.UserId }, null)</span>
                }
            }
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.GroupId)
        @Html.HiddenFor(model => model.RowVersion)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-secondary" /> | @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>