@page
@namespace DashboardCode.AdminkaV1.AuthenticationDom
@model DashboardCode.AdminkaV1.Injected.AspCore.MvcApp.Areas.Auth.Pages.GroupsModel

@{
    ViewData["SubTitle"] = "Groups";
    var UserContext = (DashboardCode.AdminkaV1.UserContext)ViewBag.UserContext;
    var tableId = "adminka-groups-table-id";
}
<h3 class="px-3">Groups</h3>

<table id="@tableId" class="table table-hover table-bordered mainTable">
    <thead>
        <tr>
            <th class="adminka-action-button-group" width="1rem">
                @if (UserContext.HasPrivilege(Privilege.ConfigureSystem))
                {
                    var urlCreateAction = @Url.Action("Create", "Groups");
                    <a class="btn-sm" asp-area="" asp-controller="Groups" asp-action="Create"><span class="material-icons">note_add</span></a>
                }
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Name
            </th>
            <th>
                AD Group
            </th>
            <th>
                Privileges
            </th>
            <th>
                Roles
            </th>
            <th>
                Users
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td class="adminka-action-button-group">
                    <div class="d-flex flex-row">
                        <a class="btn-sm" asp-area="" asp-controller="Groups" asp-action="Details" asp-route-id="@item.GroupId"><span class="material-icons">insert_drive_file</span></a>
                        @if (UserContext.HasPrivilege(Privilege.ConfigureSystem))
                        {
                            <div class="d-flex flex-column">
                                <a class="btn-xsm" asp-area="" asp-controller="Groups" asp-action="Edit" asp-route-id="@item.GroupId"><span class="material-icons">edit</span></a>
                                <a class="btn-xsm" asp-area="" asp-controller="Groups" asp-action="Delete" asp-route-id="@item.GroupId"><span class="material-icons">delete</span></a>
                            </div>
                        }
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupAdName)
                </td>
                <td>
                    @{ var privileges = item.GetPrivileges(); }
                    <div>Allowed</div>
                    @foreach (var p in privileges)
                    {
                        if (p.Item2)
                        {
                            <a class="badge" asp-area="" asp-controller="Privileges" asp-action="Details" asp-route-id="@p.Item1.PrivilegeId">@p.Item1.PrivilegeName</a>
                        }
                    }
                    <div>Denied</div>
                    @foreach (var p in privileges)
                    {
                        if (!p.Item2)
                        {
                            <a class="badge" asp-area="" asp-controller="Privileges" asp-action="Details" asp-route-id="@p.Item1.PrivilegeId">@p.Item1.PrivilegeName</a>
                        }
                    }
                </td>
                <td>
                    @foreach (var r in item.GetRoles())
                    {
                        <a class="badge" asp-area="" asp-controller="Roles" asp-action="Details" asp-route-id="@r.RoleId">@r.RoleName</a>
                    }
                </td>
                <td>
                    @foreach (var u in item.GetUsers())
                    {
                        <a class="badge" asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@u.UserId">@u.LoginName</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var tableId = '#' + '@tableId';
            var $table = $(tableId).dataTable(
                {
                    language: { search: "", searchPlaceholder: "Filter", lengthMenu:"_MENU_" },
                    stateSave: true,
                    dom: '<"d-flex flex-row justify-content-end"f>rt<"d-flex flex-row justify-content-between"lp>',
                    "columnDefs": [
                        { "searchable": false, "targets": 0 },
                        { "orderable": false, "targets": 0 }
                    ]
                }
            );
        });
    </script>
}
