@page
@model GroupEditModel
@{
    ViewData["SubTitle"] = $"Edit Group ({Model.Entity.GroupId})";
}

@section Messages {
    <partial name="_MessagesPartial" />
}

<form method="post" class="adminka-panel">
    <input hidden type="hidden" asp-for="@Model.Entity.GroupId" />
    <input hidden type="hidden" asp-for="@Model.Entity.RowVersion" />
    <input hidden type="hidden" asp-for="@Model.Crud.Referrer.GoBack" name="Referrer" />

    <div class="adminka-title d-flex flex-row justify-content-between align-items-center">
        <h3>Edit Group (@Model.Entity.GroupId)</h3>
        <a class="adminka-navigation adminka-icon-before adminka-icon-before-clear" asp-area="Auth" asp-page="Group" asp-route-id="@Model.Entity.GroupId" asp-route-Referrer="@Model.Crud.Referrer.Internal"></a>
    </div>

    <div class="adminka-form-container">
        <partial name="GroupEditPartial" />

        <div class="adminka-buttons adminka-buttons-update">
            <div class="form-group">
                <div class="d-flex flex-row">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn btn-secondary adminka-icon-before adminka-icon-before-back ml-3" href="@Model.Crud.Referrer.GoBack">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_MultiSelectScriptPartial" />
}
