@page
@model PrivilegesModel
@{
    ViewData["SubTitle"] = "Privileges";
    var UserContext = (DashboardCode.AdminkaV1.UserContext)ViewBag.UserContext;
    var tableId = "adminka-users-table-id";
}
<h3 class="px-3">Privileges</h3>
<table id="@tableId" class="table table-hover table-bordered mainTable">
    <thead>
        <tr>
            <th width="1rem">
            </th>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Roles
            </th>
            <th>
                Groups
            </th>
            <th>
                Users
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
        <tr>
            <td class="adminka-action-button-group">
                <div class="d-flex flex-row">
                    <a class="btn-sm" asp-area="Auth" asp-page="Privilege" asp-route-id="@item.PrivilegeId"><span class="material-icons">insert_drive_file</span></a>
                    @if (UserContext.HasPrivilege(Privilege.ConfigureSystem))
                    {
                        <div class="d-flex flex-column">
                            <a class="btn-xsm" asp-area="Auth" asp-page="PrivilegeEdit" asp-route-id="@item.PrivilegeId"><span class="material-icons">edit</span></a>
                        </div>
                    }
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrivilegeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrivilegeName)
            </td>
            <td>
                @foreach (var r in item.GetRoles())
                {
                    <a class="badge @(!r.Item2?"scratched":"")" asp-area="Auth" asp-page="Role" asp-route-id="@r.Item1.RoleId">@r.Item1.RoleName</a>
                }
            </td>
            <td>
                @foreach (var g in item.GetGroups())
                {
                    <a class="badge @(!g.Item2?"scratched":"")" asp-area="Auth" asp-page="Group" asp-route-id="@g.Item1.GroupId">@g.Item1.GroupName</a>
                }
            </td>
            <td>
                @foreach (var u in item.GetUsers())
                {
                    <a class="badge @(!u.Item2?"scratched":"")" asp-area="Auth" asp-page="User" asp-route-id="@u.Item1.UserId">@u.Item1.LoginName</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var tableId = '#' + '@tableId';
            var $table = $(tableId).dataTable(
                {
                    language: { search: "", searchPlaceholder: "Filter", lengthMenu:"_MENU_" },
                    stateSave: true,
                    dom: '<"d-flex flex-row justify-content-end"f>rt<"d-flex flex-row justify-content-between"lp>',
                    "columnDefs": [
                        { "searchable": false, "targets": 0 },
                        { "orderable": false, "targets": 0 }
                    ]
                }
            );
        });
    </script>
}