@page
@model RoleDeleteModel
@{
    ViewData["SubTitle"] = $"Delete Role ({@Model.Entity.RoleId})";
}

<div class="adminka-panel">
    <div class="adminka-title d-flex flex-row justify-content-between align-items-center">
        <h3>Delete Role (@Model.Entity.RoleId)</h3>
        <a class="adminka-navigation adminka-icon-before adminka-icon-before-clear" href="@Model.Crud.Referrer.Href"></a>
    </div>

    <div class="adminka-container">
        <partial name="RolePartial.cshtml" />
        <form method="post"  id="adminka-form-role-delete-id">
            <input hidden type="hidden" asp-for="@Model.Entity.RoleId" />
            <input hidden type="hidden" asp-for="@Model.Entity.RowVersion" />
            <input hidden type="hidden" asp-for="@Model.Crud.Referrer.Href" name="Referrer" />

            <div class="adminka-buttons adminka-buttons-delete">
                <div class="form-group">
                    <div class="d-flex flex-row">
                        <button type="submit" class="btn btn-primary">Delete</button>
                        <a class="btn btn-secondary adminka-icon-before adminka-icon-before-back ml-3" href="@Model.Crud.Referrer.Href">Go Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>