@page
@model DashboardCode.AdminkaV1.Injected.AspCore.MvcApp.Areas.Auth.Pages.RoleCreateModel
@{
    ViewData["SubTitle"] = "Create Role";
}

<div class="d-flex flex-row justify-content-between align-self">
    <h3>Create Role</h3>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="create-role-name-id">Name</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Entity.RoleName, new { htmlAttributes = new { @id = "create-role-name-id", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Entity.RoleName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="create-role-privileges-id">Privileges Allowed</label>
            <div class="col-sm-10">
                @Html.ListBox("PrivilegesAllowed", ViewBag.PrivilegesAllowedMultiSelectList as MultiSelectList, new { @id = "create-role-privileges-allowed-id", @class = "form-control d-none bootstrap-multiselect" })
                @Html.ValidationMessage("PrivilegesAllowed", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row adminka-form-group-bsmultiselect-scratched">
            <label class="col-form-label col-sm-2" for="create-role-privileges-id">Privileges Denied</label>
            <div class="col-sm-10">
                @Html.ListBox("PrivilegesDenied", ViewBag.PrivilegesDeniedMultiSelectList as MultiSelectList, new { @id = "create-role-privileges-denied-id", @class = "form-control d-none bootstrap-multiselect" })
                @Html.ValidationMessage("PrivilegesDenied", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="create-groups-id">Groups</label>
            <div class="col-sm-10">
                @Html.ListBox("Groups", ViewBag.GroupsMultiSelectList as MultiSelectList, new { @id = "create-groups-id", @class = "form-control d-none bootstrap-multiselect" })
                @Html.ValidationMessage("Groups", "", new { @class = "text-danger" })
            </div>
        </div>

        <h4>Are you sure you want to create this?</h4>
        <div class="form-group">
            <div class="d-flex flex-row align-self">
                <input type="submit" value="Create" class="btn adminka-btn-ok" />
                <a class="adminka-btn adminka-navigation-list mx-3" asp-area="" asp-controller="Roles" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
        (function () {
            var select = $('.bootstrap-multiselect').bsMultiSelect();
        })();
    </script>
}