@page
@model RoleModel
@{
    ViewData["SubTitle"] = $"Role (${Model.Entity.RoleId})";
}

<div class="adminka-panel">
    <div class="adminka-title d-flex flex-row justify-content-between align-items-center">
        <h3>Role (@Model.Entity.RoleId)</h3>
        <div>
            <a class="adminka-navigation adminka-icon-before adminka-icon-before-delete" asp-area="Auth" asp-page="RoleDelete" asp-route-id="@Model.Entity.RoleId" 
               asp-route-Referrer="@Model.Crud.Referrer.CurrentWithReferrer">Delete</a>
            <a class="ml-4 adminka-navigation adminka-icon-before adminka-icon-before-edit" asp-area="Auth" asp-page="RoleEdit" asp-route-id="@Model.Entity.RoleId" 
               asp-route-Referrer="@Model.Crud.Referrer.CurrentWithReferrer">Edit</a>
        </div>
    </div>
    
    <div class="adminka-container">
        <partial name="RolePartial.cshtml" />

        <div class="adminka-buttons d-flex flex-row">
            <a class="btn btn-secondary adminka-icon-before adminka-icon-before-back" href="@Model.Crud.Referrer.Href">To Roles</a>
        </div>
    </div>
</div>
