@page
@model RoleModel
@{
    ViewData["SubTitle"] = $"Role (${Model.Entity.RoleId})";
}

<div class="adminka-panel">
    <div class="adminka-title d-flex flex-row justify-content-between align-items-center">
        <h3>Role (@Model.Entity.RoleId)</h3>
        <div>
            <a class="adminka-navigation adminka-icon-before adminka-icon-before-delete" asp-area="Auth" asp-page="RoleDelete" asp-route-id="@Model.Entity.RoleId" asp-route-Referrer="@Model.Crud.Referrer.Self">Delete</a>
            <a class="ml-4 adminka-navigation adminka-icon-before adminka-icon-before-edit" asp-area="Auth" asp-page="RoleEdit" asp-route-id="@Model.Entity.RoleId" asp-route-Referrer="@Model.Crud.Referrer.Self">Edit</a>
        </div>
    </div>
    
    <div class="adminka-container">
        <dl class="row">
            <dt class="col-sm-2 mb-sm-4">
                Name
            </dt>
    
            <dd class="col-sm-10 mb-sm-4">
                @Html.DisplayFor(model => model.Entity.RoleName)
            </dd>
    
            @{var privleges = Model.Entity.GetPrivileges();}
            <dt class="col-sm-2 mb-sm-4">
                Privileges Allowed
            </dt>
            <dd class="col-sm-10 mb-sm-4">
                @foreach (var p in Model.Entity.GetPrivileges())
                {
                    if (p.Item2)
                    {
                        <a class="badge" asp-area="Auth" asp-page="Privilege"  asp-route-id="@p.Item1.PrivilegeId" asp-route-Referrer="@Model.Crud.Referrer.Self">@p.Item1.PrivilegeName</a>
                    }
                }
            </dd>
    
            <dt class="col-sm-2 mb-sm-4">
                Privileges Denied
            </dt>
    
            <dd class="col-sm-10 mb-sm-4">
                @foreach (var p in Model.Entity.GetPrivileges())
                {
                    if (!p.Item2)
                    {
                        <a class="badge scratched" asp-area="Auth" asp-page="Privilege" asp-route-id="@p.Item1.PrivilegeId" asp-route-Referrer="@Model.Crud.Referrer.Self">@p.Item1.PrivilegeName</a>
                    }
                }
            </dd>
    
            <dt class="col-sm-2 mb-sm-4">
                Groups
            </dt>
    
            <dd class="col-sm-9 mb-sm-4">
                @foreach (var g in Model.Entity.GetGroups())
                {
                    <a class="badge" asp-area="Auth" asp-page="Group"  asp-route-id="@g.GroupId" asp-route-Referrer="@Model.Crud.Referrer.Self">@g.GroupName</a>
                }
            </dd>
    
            <dt class="col-sm-2 mb-sm-4">
                Users
            </dt>
    
            <dd class="col-sm-10 mb-sm-2">
                @foreach (var u in Model.Entity.GetUsers())
                {
                    <a class="badge" asp-area="Auth" asp-page="User" asp-route-id="@u.UserId" asp-route-Referrer="@Model.Crud.Referrer.Self">@u.LoginName</a>
                }
            </dd>
        </dl>

        <div class="adminka-buttons d-flex flex-row">
            <a class="btn btn-secondary adminka-icon-before adminka-icon-before-back" href="@Model.Crud.Referrer.GoBack">Go Back</a>
        </div>
    </div>
</div>
