@model Privilege

<h3>Privilege Details (@Model.PrivilegeId)</h3>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrivilegeName)
        </dd>

        <dt>
            Roles
        </dt>

        <dd>
        @foreach (var r in Model.GetRoles())
        {
            <a class="badge" asp-area="" asp-controller="Roles" asp-action="Details" asp-route-id="@r.RoleId">@r.RoleName</a>
        }
        </dd>

        <dt>
            Users
        </dt>

        <dd>
        @foreach (var u in Model.GetUsers())
        {
            <a class="badge" asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@u.UserId">@u.LoginName</a>
        }
        </dd>

        <dt>
            Groups
        </dt>

        <dd>
        @foreach (var g in Model.GetGroups())
        {
            <a class="badge" asp-area="" asp-controller="Groups" asp-action="Details" asp-route-id="@g.GroupId">@g.GroupName</a>
        }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
