@model Privilege

<div class="d-flex flex-row justify-content-between align-self">
    <h3>Privilege (@Model.PrivilegeId)</h3>
    <a class="adminka-navigation adminka-navigation-clear" asp-area="" asp-controller="Privileges" asp-action="Details" asp-route-id="@Model.PrivilegeId"></a>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.PrivilegeId)
    @Html.HiddenFor(model => model.RowVersion)

    <div class="form-group row">
        <label class="col-form-label col-sm-2" for="edit-privilege-name-id">Name</label>
        <div class="col-sm-10">
            @Html.EditorFor(model => model.PrivilegeName, new { htmlAttributes = new { @id = "edit-privilege-name-id", @class = "form-control", @readonly = "readonly", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.PrivilegeName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <label class="col-form-label col-sm-2" for="edit-privilege-users-id">Users</label>
        <div class="col-sm-10">
            @Html.ListBox("Users", ViewBag.UsersMultiSelectList as MultiSelectList, new { @id = "edit-privilege-users-id", @class = "form-control d-none bootstrap-multiselect" })
            @Html.ValidationMessage("Users", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <label class="col-form-label col-sm-2" for="edit-privilege-roles-id">Roles</label>
        <div class="col-sm-10">
            @Html.ListBox("Roles", ViewBag.RolesMultiSelectList as MultiSelectList, new { @id = "edit-privilege-roles-id", @class = "form-control d-none bootstrap-multiselect" })
            @Html.ValidationMessage("Roles", "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <label class="col-form-label col-sm-2" for="edit-privilege-groups-id">Groups</label>
        <div class="col-sm-10">
            @Html.ListBox("Groups", ViewBag.GroupsMultiSelectList as MultiSelectList, new { @id = "edit-privilege-groups-id", @class = "form-control d-none bootstrap-multiselect" })
            @Html.ValidationMessage("Groups", "", new { @class = "text-danger" })
        </div>
    </div>
    
    <h4>Are you sure you want to save changes?</h4>
    <div class="form-group">
        <div class="d-flex flex-row align-self">
            <input type="submit" value="Save" class="btn adminka-btn-ok" />
            <a class="adminka-btn adminka-navigation-list mx-3" asp-area="" asp-controller="Privileges" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
}
@section scripts {
    <script type="text/javascript">
        (function () {
            var select = $('.bootstrap-multiselect').dashboardCodeBsMultiSelect();
         })();
    </script>
}