@model IEnumerable<Privilege>
@{
    var UserContext = (UserContext)ViewBag.UserContext;
}
<h3>Privileges</h3>

<table id="adminka-groups-table" class="table table-hover table-bordered mainTable">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrivilegeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrivilegeName)
            </th>
            <th>
                Roles
            </th>
            <th>
                Users
            </th>
            <th>
                Groups
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var urlDetailsAction = @Url.Action("Details", "Privileges", new { id = item.PrivilegeId });
            var urlEditAction = @Url.Action("Edit", "Privileges", new { id = item.PrivilegeId });

            <tr>
                <td class="tableActionColumn">
                    <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='@urlDetailsAction'"><span class="material-icons">insert_drive_file</span></button>
                    @if (UserContext.HasPrivilege(Privilege.ConfigureSystem))
                    {
                        <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='@urlEditAction'"><span class="material-icons">edit</span></button>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrivilegeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrivilegeName)
                </td>
                <td>
                    @{  var roles = item.GetRoles();
                        @foreach (var r in roles)
                        {
                            <div><a class="dashboardcode-adminka-item" href="@Url.Action("Details", "Roles", new { id = r.RoleId })">@r.RoleName</a></div>
                        }
                    }
                </td>
                <td>
                    @{  var users = item.GetUsers();
                        foreach (var u in users)
                        {
                            <div><a class="dashboardcode-adminka-item" href="@Url.Action("Details", "Users", new { id = u.UserId })">@u.LoginName</a></div>
                        }
                     }
                </td>
                <td>
                    @{  var groups = item.GetGroups();
                        foreach (var g in groups)
                        {
                            <div><a class="dashboardcode-adminka-item" href="@Url.Action("Details", "Groups", new { id = g.GroupId })">@g.GroupName</a></div>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>