@model Role

<div class="d-flex flex-row justify-content-between align-self">
    <h3>Role (@Model.RoleId)</h3>
    @*<a class="adminka-navigation adminka-navigation-list" asp-area="" asp-controller="Roles" asp-action="Index">to List</a>
    <a class="adminka-navigation adminka-navigation-edit" asp-area="" asp-controller="Roles" asp-action="Edit" asp-route-id="@Model.RoleId">Edit</a>
    <a class="adminka-navigation adminka-navigation-delete" asp-area="" asp-controller="Roles" asp-action="Delete" asp-route-id="@Model.RoleId">Delete</a>*@
</div>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

        <dt>
            Privileges
        </dt>

        <dd>
            @foreach (var p in Model.GetPrivileges())
            {
                <a class="badge" asp-area="" asp-controller="Privileges" asp-action="Details" asp-route-id="@p.PrivilegeId">@p.PrivilegeId</a>
            }
        </dd>

        <dt>
            Groups
        </dt>

        <dd>
            @foreach (var g in Model.GetGroups())
            {
                <a class="badge" asp-area="" asp-controller="Groups" asp-action="Details" asp-route-id="@g.GroupId">@g.GroupName</a>
            }
        </dd>

        <dt>
            Users
        </dt>

        <dd>
            @foreach (var u in Model.GetUsers())
            {
                <a class="badge" asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@u.UserId">@u.LoginName</a>
            }
        </dd>
    </dl>

    <div class="d-flex flex-row align-self" style="margin-top:2rem">
        <a style="margin-right:3rem" class="adminka-navigation adminka-navigation-list" asp-area="" asp-controller="Roles" asp-action="Index">to List</a>
        <a style="margin-right:3rem" class="adminka-navigation adminka-navigation-edit" asp-area="" asp-controller="Roles" asp-action="Edit" asp-route-id="@Model.RoleId">Edit</a>
        <a style="margin-right:3rem" class="adminka-navigation adminka-navigation-delete" asp-area="" asp-controller="Roles" asp-action="Delete" asp-route-id="@Model.RoleId">Delete</a>
    </div>
</div>
