@model Role

<div class="d-flex flex-row align-self justify-content-between">
    <h3>Role (@Model.RoleId)</h3>
    <div>
        <a class="ml-4 adminka-navigation adminka-navigation-delete" asp-area="" asp-controller="Roles" asp-action="Delete" asp-route-id="@Model.RoleId">Delete</a>
        <a class="ml-4 adminka-navigation adminka-navigation-edit" asp-area="" asp-controller="Roles" asp-action="Edit" asp-route-id="@Model.RoleId">Edit</a>
    </div>
</div>

<div>
    <hr />
    
    <dl class="row">
        <dt class="col-sm-2 mb-sm-4">
            Name
        </dt>

        <dd class="col-sm-10 mb-sm-4" >
            @Html.DisplayFor(model => model.RoleName)
        </dd>

        <dt class="col-sm-2 mb-sm-4">
            Privileges
        </dt>

        <dd class="col-sm-10 mb-sm-4">
            @foreach (var p in Model.GetPrivileges())
            {
                <a class="badge" asp-area="" asp-controller="Privileges" asp-action="Details" asp-route-id="@p.PrivilegeId">@p.PrivilegeId</a>
            }
        </dd>

        <dt class="col-sm-2 mb-sm-4">
            Groups
        </dt>

        <dd class="col-sm-9 mb-sm-4" >
            @foreach (var g in Model.GetGroups())
            {
                <a class="badge" asp-area="" asp-controller="Groups" asp-action="Details" asp-route-id="@g.GroupId">@g.GroupName</a>
            }
        </dd>

        <dt class="col-sm-2 mb-sm-4">
            Users
        </dt>

        <dd class="col-sm-10 mb-sm-2">
            @foreach (var u in Model.GetUsers())
            {
                <a class="badge" asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@u.UserId">@u.LoginName</a>
            }
        </dd>
    </dl>
    <div class="d-flex flex-row align-self">
        <a class="adminka-btn adminka-navigation-list" asp-area="" asp-controller="Roles" asp-action="Index">Back to List</a>
    </div>
</div>

