@*
    TODO: ApplicationInsights
    @inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @* import map supports JS modules and import statement and should be defined before any script element  *@
    <script type="importmap">
        @* {
            "imports": {
                "jquery": "/lib/jquery/dist/jquery.min.js",
                "bootstrap": "/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            }
        } *@
    </script>
    <link rel="stylesheet" href="~/dist/main.css" asp-append-version="true" />
    @*<environment include="Development">
            <style>
                @@font-face {
                    font-family: 'Material Icons';
                    font-style: normal;
                    font-weight: 400;
                    src: local('Material Icons'), local('MaterialIcons-Regular'), url(/fonts/MaterialIcons-Regular.woff2) format('woff2'), url(/fonts/MaterialIcons-Regular.woff) format('woff'), url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
                }
            </style>
            <link rel="stylesheet" href="~/css/customBootstrap.css" />
            <link rel="stylesheet" href="~/lib/datatables.net-bs4/css/dataTables.bootstrap4.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="~/dist/main.css" asp-append-version="true" />
        </environment>*@

    @*
        TODO: ApplicationInsights
        @Html.Raw(JavaScriptSnippet.FullScript)
    *@
</head>

@{
    // ViewBag.UserContext

    var userName = "Anonymous";

    var userContext = ViewBag.UserContext as UserContext;
    if (userContext != null)
    {
        userName = userContext.User.LoginName;
    }
    else
    {
        var identity1 = @ViewContext.HttpContext.User.Identity;
        if (identity1.Name != null)
        {
            userName = identity1.Name + " " + (identity1.IsAuthenticated ? "(Authenticated)" : "(NotAuthenticated)");
        }
        else
        {
            var identity2 = System.Threading.Thread.CurrentPrincipal?.Identity;
            if (identity2?.Name != null)
            {
                userName = identity2.Name + " " + (identity2.IsAuthenticated ? "(Authenticated)" : "(NotAuthenticated)");

            }
            else
            {
                userName = "(NotAuthenticated)";
            }
        }
    }
}

<body>
    <nav class="py-2 container d-flex flex-row justify-content-between">
        <a class="btn-logo" href="/">
            <svg id="svg" alt="Logo" height="126" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M40.83,90c-6.892,0-12.497-5.608-12.497-12.5c0-6.888,5.605-12.497,12.5-12.5h5.834V53.333H22.5  c-6.895,0-12.5-5.605-12.5-12.5s5.605-12.5,12.5-12.5h24.167V22.5c0-6.888,5.605-12.5,12.5-12.5c6.891,0,12.5,5.605,12.5,12.5  S66.058,35,59.167,35h-5.834v11.667H77.5c6.892,0,12.5,5.605,12.5,12.5c0,6.891-5.608,12.5-12.5,12.5H53.333V77.5  C53.333,84.392,47.725,90,40.83,90z M40.833,71.667C37.617,71.67,35,74.287,35,77.5c0,3.216,2.614,5.833,5.83,5.833  c3.22,0,5.837-2.617,5.837-5.833v-5.833H40.833z M53.333,65H77.5c3.216,0,5.833-2.617,5.833-5.833c0-3.217-2.617-5.834-5.833-5.834  H53.333V65z M22.5,35c-3.216,0-5.833,2.617-5.833,5.833c0,3.217,2.617,5.834,5.833,5.834h24.167V35H22.5z M53.333,28.333h5.834  c3.216,0,5.833-2.617,5.833-5.833s-2.617-5.833-5.833-5.833c-3.217,0-5.834,2.617-5.834,5.833V28.333z"></path></svg>
        </a>
        <div class="nav-item d-flex flex-row my-1">
            <div id="dashboardcode-account-box-id"
                 class="align-self-start"
                 style="font-size:1rem; margin-top:-0rem;">
                <span class="material-icons" style="font-size: 1rem; padding-bottom:0.18rem; vertical-align:middle">account_box</span>
                <span class="d-inline-block">@userName</span>
            </div>
            <div class="nav-item dropdown mx-4">
                <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="material-icons" style="text-decoration:none; font-size: 1rem; padding-bottom:0.18rem; margin-right:0.2rem; vertical-align:middle">security</span><span class="d-inline-block">Security</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-area="Auth" asp-page="Privileges">Privileges</a>
                    <a class="dropdown-item" asp-area="Auth" asp-page="Roles">Roles</a>
                    <a class="dropdown-item" asp-area="Auth" asp-page="Groups">Groups</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-area="Auth" asp-page="Users">Users</a>
                </div>
            </div>
        </div>
    </nav>


    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Injected.AspCore.WebApp4</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    @* TODO: error should be minimized to some kind of icon in there corner *@
    @* <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exceptionModal">Show error</button> *@
    <div class="modal fade" id="exceptionModal" tabindex="-1" role="dialog" aria-labelledby="exceptionModalTitle" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exceptionModalTitle">Unhandled Error Message</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if (ViewData.ContainsKey("Exception"))
                    {
                        //@Html.MarkdownException((Exception)ViewBag.Exception)
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    @* TODO: add SEND email button  *@
                    @* <button type="button" class="btn btn-secondary">Save changes</button> *@
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        @await RenderSectionAsync("Messages", required: false)

        <div class="alert alert-js alert-danger alert-dismissible fade mt-1 d-none" role="alert">
            <strong>Error on save!</strong> Operation was canceled.
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    </div>
    <div class="container">
        <div class="starter-template">
            @RenderBody()
            <hr style="margin-top:1rem; margin-bottom:0.4rem; " />
            <footer class="d-flex flex-column flex-md-row justify-content-between" style=" float:right">
                <div style="font-size:60%; margin-top:0px; padding-top:0px; margin-bottom:2rem;">&copy; 2018 - DashboardCode</div>
            </footer>
        </div>
    </div>


    @*<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>*@

    
    <script src="~/dist/runtime.js" asp-append-version="true"></script>
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/polyfill_io.js" asp-append-version="true"></script>
    <script src="~/dist/main.js" asp-append-version="true"></script>
    
    <environment include="Development">
        @*<script type="module">
                import "./js/jquery.js"
                import "./js/jquery.validate.js";
                import "./js/jquery.validate.unobtrusive.js";

                import("./js/popper.js").then(
                    (m) => {
                        window.console.log(m["popper"]);
                        //window.Popper = p;
                        //import "./js/bootstrap.js"; // TODO : error
                    });

                // to solve try those
                // 1) compile whole bootstrap folder with
                // $ babel --source-maps --out-dir=lib src // but this also moves not js files to out-dir
                // 2) try those plugins to change
                // https://github.com/entwicklerstube/babel-plugin-root-import
                // https://github.com/per2plex/babel-project-relative-import
                // https://github.com/tleunen/babel-plugin-module-resolver
            </script>*@

        @*
            <script src="~/js/bootstrap.js"></script>
            <script src="~/js/jquery.dataTables.js"></script>
            <script src="~/js/dataTables.bootstrap4.js"></script>
            <script src="~/js/BsMultiSelect.js"></script>
            <script src="~/js/Es8Test.js" type="module"></script>
            <script src="~/js/site.js"></script>
        *@
    </environment>


    <script>
        console.log({ msg: 'index entry', window: window, $: window.$, moment: window.moment, bootstrap: window.bootstrap, popper: window.createPopper, })
        document.addEventListener("DOMContentLoaded", function (event) {
            (function () {
                console.log({ msg: 'index entry DOMContentLoaded ', window: window, $: window.$, moment: window.moment, bootstrap: window.bootstrap, popper: window.createPopper, })
                //console.log('after loaded - ' + $('body').bsMultiSelect);
                console.log();
            })();
        });
        console.log();
    </script>

    <environment names="Development">
        <script>
            // this will not work since there are no `script src` loader
            // if (typeof $ !== 'function' || typeof jQuery !== 'function') {
            //    alert('jquery is not defined on global level when it is expected')
            // }

            document.addEventListener("DOMContentLoaded", function (event) {
                if (typeof $ !== 'function' || typeof jQuery !== 'function') {
                    alert('Inline Scripts UMD: jquery is not defined on global level when it is expected')
                } else {
                    window.console.log("jquery loaded: Inline Scripts UMD");
                }
            });
        </script>

        @*<script type="module">
                import("./js/jquery.js").then(
                    function () {
                        if (typeof $ !== 'function' || typeof jQuery !== 'function') {
                            alert('Inline Scripts ESM: jquery is not defined on global level when it is expected')
                        } else {
                            window.console.log("jquery loaded: Inline Scripts ESM");
                        }
                    }
                );
            </script>*@
    </environment>

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            console.log({ msg: "popper", window: window, createPopper: window.createPopper });
            $('#dashboardcode-account-box-id').tooltip
                ({
                    html: true,
                    title: 'My tooltip... should be popover',
                    trigger: "hover focus",
                    placement: "bottom",
                    template: '<div class="tooltip" role="tooltip" style="opacity: 0.9;"><div class="arrow" style="color:black; opacity: 0.9;"></div><div class="tooltip-inner" style="background-color:white; color:black; border:1px solid black; opacity: 0.9;"></div></div>'
                });
        })
    </script>

    <div id="dashboardcode-account-box-id-tooltip" class="d-none">
        @if (userContext != null && userContext.User != null)
        {
            var user = userContext.User;
            var privileges = user.GetAllPrivileges();
            if (privileges.Count > 0)
            {
                <div style="text-align:left ">
                    <div>Privileges:</div>
                    @foreach (var p in privileges)
                    {
                        <div style="white-space:nowrap; font-size:x-small">@p.PrivilegeName</div>
                    }
                </div>
            }
        }
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
