@page
@model PrivilegeModel
@{
    ViewData["SubTitle"] = $"Privilege (${Model.Entity.PrivilegeId})";
}

<div class="adminka-panel">
    <div class="adminka-title d-flex flex-row justify-content-between align-items-center">
        <h3>Privilege (@Model.Entity.PrivilegeId)</h3>
        <div>
            <a class="adminka-navigation adminka-icon-before adminka-icon-before-edit" asp-area="Auth" asp-page="PrivilegeEdit" asp-route-id="@Model.Entity.PrivilegeId" 
               asp-route-Referrer="@Model.Crud.Referrer.CurrentWithReferrer">Edit</a>
        </div>
    </div>
    
    <div class="adminka-container">
        <dl class="row">
            <dt class="col-sm-2 mb-sm-4">
                Name
            </dt>
            <dd class="col-sm-10 mb-sm-4">
                @Html.DisplayFor(model => model.Entity.PrivilegeName)
            </dd>
    
            @{var roles = Model.Entity.GetRoles();}
            <dt class="col-sm-2 mb-sm-4">
                Roles (Allowed)
            </dt>
            <dd class="col-sm-10 mb-sm-4">
                @foreach (var r in roles)
                {
                    if (r.Item2)
                    {
                        <a class="badge" asp-area="Auth" asp-page="Role" asp-route-id="@r.Item1.RoleId" >@r.Item1.RoleName</a>
                    }
                }
            </dd>
    
            <dt class="col-sm-2 mb-sm-4">
                Roles (Denied)
            </dt>
            <dd class="col-sm-10 mb-sm-4">
                @foreach (var r in roles)
                {
                    if (!r.Item2)
                    {
                        <a class="badge scratched" asp-area="Auth" asp-page="Role" asp-route-id="@r.Item1.RoleId" >@r.Item1.RoleName</a>
                    }
                }
            </dd>
    
            @{var groups = Model.Entity.GetGroups();}
            <dt class="col-sm-2 mb-sm-4">
                Groups (Allowed)
            </dt>
            <dd class="col-sm-10 mb-sm-4">
                @foreach (var g in groups)
                {
                    if (g.Item2)
                    {
                        <a class="badge" asp-area="Auth" asp-page="Group" asp-route-id="@g.Item1.GroupId" >@g.Item1.GroupName</a>
                    }
                }
            </dd>
    
            <dt class="col-sm-2 mb-sm-4">
                Groups (Denied)
            </dt>
            <dd class="col-sm-10 mb-sm-4">
                @foreach (var g in groups)
                {
                    if (!g.Item2)
                    {
                        <a class="badge scratched" asp-area="Auth" asp-page="Group" asp-route-id="@g.Item1.GroupId" >@g.Item1.GroupName</a>
                    }
                }
            </dd>
    
            @{var users = Model.Entity.GetUsers();}
            <dt class="col-sm-2 mb-sm-4">
                Users (Allowed)
            </dt>
            <dd class="col-sm-10 mb-sm-4">
                @foreach (var u in users)
                {
                    if (u.Item2)
                    {
                        <a class="badge" asp-area="Auth" asp-page="User" asp-route-id="@u.Item1.UserId" >@u.Item1.LoginName</a>
                    }
                }
            </dd>
    
            <dt class="col-sm-2 mb-sm-4">
                Users (Denied)
            </dt>
            <dd class="col-sm-10 mb-sm-4">
                @foreach (var u in users)
                {
                    if (!u.Item2)
                    {
                        <a class="badge scratched" asp-area="Auth" asp-page="User" asp-route-id="@u.Item1.UserId" >@u.Item1.LoginName</a>
                    }
                }
            </dd>
        </dl>

        <div class="adminka-buttons d-flex flex-row">
            <a class="btn btn-secondary adminka-icon-before adminka-icon-before-back" href="@Model.Crud.Referrer.Href">To Privileges</a>
        </div>
    </div>
</div>